{% extends "layout.html" %}
{% block content %}
<div class="body-grid-container">

  <h1 id="heading">
    <strong>{{ heading }}</strong>
  </h1>


  <div id="collapse" class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- INPUTS COLLAPSE -->
    <div class="card mb-1">
      <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 class="mb-0">
            Inputs
            <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
        </a>
      </div>
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
        <div class="card-body p-2">
          <ul class="nav nav-tabs nav-justified mb-2" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active black-text" id="construction-tab" data-toggle="tab" href="#construction" role="tab"
                aria-controls="construction" aria-selected="true" style="border-bottom: 1px">
                <h5>Construction Quality</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="design-tab" data-toggle="tab" href="#design" role="tab" aria-controls="design"
                aria-selected="false" style="border-bottom: 1px">
                <h5>Design & Details</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="materials-tab" data-toggle="tab" href="#materials" role="tab"
                aria-controls="materials" aria-selected="false" style="border-bottom: 1px">
                <h5>Material Specifications</h5>
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="construction" role="tabpanel" aria-labelledby="construction-tab">
              {% for doc in content['construction_quality'] %}
              <div class="card m-2">
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{ doc.title }}</a>
                  </h4>
                  <p class="card-text">{{ doc.abstract }}</p>
                  <p class="card-text"><strong>Status: </strong>{{ doc.status }}</p>
                  <p class="card-text"><strong>Funding: </strong>{{ doc.funding }}</p>
                  <p class="card-text"><strong>Tags: </strong>{{ ",".join(doc.tags).title() }}</p>
                  <p class="card-text"><strong>Score: </strong>{{ doc.meta.score }}</p>
                </div>
              </div>
              {% endfor %}
            <!-- </div>
            <div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="design-tab">
              {% for doc in content['design'] %}
              <div class="card m-2">
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{ doc.title }}</a>
                  </h4>
                  <p class="card-text">{{ doc.abstract }}</p>
                  <p class="card-text">{{ doc.tags }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="materials" role="tabpanel" aria-labelledby="materials-tab">
              {% for doc in content['materials'] %}
              <div class="card m-2">
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{ doc.title }}</a>
                  </h4>
                  <p class="card-text">{{ doc.abstract }}</p>
                  <p class="card-text">{{ doc.tags }}</p>
                </div>
              </div>
              {% endfor %}
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- ATTRIBUTES COLLAPSE -->
    <!-- <div class="card mb-1">
      <div class="card-header" role="tab" id="headingTwo">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4 class="mb-0">
            Attributes
            <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
        </a>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
        <div class="card-body p-2">

          <ul class="nav nav-tabs nav-justified mb-2" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active black-text" id="liveload-tab" data-toggle="tab" href="#liveload" role="tab"
                aria-controls="liveload" aria-selected="true" style="border-bottom: 1px">
                <h5>Live Loads</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="environment-tab" data-toggle="tab" href="#environment" role="tab"
                aria-controls="environment" aria-selected="false" style="border-bottom: 1px">
                <h5>Environment</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="maintenance-tab" data-toggle="tab" href="#maintenance" role="tab"
                aria-controls="maintenance" aria-selected="false" style="border-bottom: 1px">
                <h5>Maintenance & Preservation</h5>
              </a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="liveload" role="tabpanel" aria-labelledby="liveload-tab">
              {% for doc in content['live load'] %}
              <div class="card m-2">
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{ doc.title }}</a>
                  </h4>
                  <p class="card-text">{{ doc.abstract }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="environment" role="tabpanel" aria-labelledby="environment-tab">
              {% for doc in content['environment'] %}
              <div class="card m-2">
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{ doc.title }}</a>
                  </h4>
                  <p class="card-text">{{ doc.abstract }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="maintenance" role="tabpanel" aria-labelledby="maintenance-tab">
              {% for doc in content['maintenance'] %}
              <div class="card m-2">
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{ doc.title }}</a>
                  </h4>
                  <p class="card-text">{{ doc.abstract }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- PERFORMANCE COLLAPSE -->
    <!-- <div class="card mb-1">
      <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4 class="mb-0">
            Performance
            <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
        </a>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
        <div class="card-body p-2">
          <ul class="nav nav-tabs nav-justified mb-2" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active black-text" id="integrity-tab" data-toggle="tab" href="#integrity" role="tab"
                aria-controls="integrity" aria-selected="true" style="border-bottom: 1px">
                <h5>Structural Integrity</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="condition-tab" data-toggle="tab" href="#condition" role="tab"
                aria-controls="condition" aria-selected="false" style="border-bottom: 1px">
                <h5>Structural Condition</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="functionality-tab" data-toggle="tab" href="#functionality" role="tab"
                aria-controls="functionality" aria-selected="false" style="border-bottom: 1px">
                <h5>Functionality</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="cost-tab" data-toggle="tab" href="#cost" role="tab"
                aria-controls="cost" aria-selected="false" style="border-bottom: 1px">
                <h5>Cost</h5>
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="integrity" role="tabpanel" aria-labelledby="integrity-tab">
              {% for doc in content['structural integrity'] %}
              <div class="card m-2">
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{ doc.title }}</a>
                  </h4>
                  <p class="card-text">{{ doc.abstract }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="condition" role="tabpanel" aria-labelledby="condition-tab">
              {% for doc in content['structural condition'] %}
              <div class="card m-2">
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{ doc.title }}</a>
                  </h4>
                  <p class="card-text">{{ doc.abstract }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="functionality" role="tabpanel" aria-labelledby="functionality-tab">
              {% for doc in content['functionality'] %}
              <div class="card m-2">
                <div class="card-body">
                  <h4 class="card-title">
                    <a>{{ doc.title }}</a>
                  </h4>
                  <p class="card-text">{{ doc.abstract }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="cost" role="tabpanel" aria-labelledby="cost-tab">
                {% for doc in content['cost'] %}
                <div class="card m-2">
                  <div class="card-body">
                    <h4 class="card-title">
                      <a>{{ doc.title }}</a>
                    </h4>
                    <p class="card-text">{{ doc.abstract }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>


</div>

{% endblock content %}