{% macro record(doc) %}
  <div class="card m-2">
    <div class="card-body">
      <h4 class="card-title">
        <a>{{ doc.title }}</a>
      </h4>
      <p class="card-text">{{ doc.abstract }}</p>
      <p class="card-text"><strong>Status: </strong>{{ doc.status }}</p>
      <p class="card-text"><strong>Funding: </strong>{{ doc.funding }}</p>
      <p class="card-text">
        <strong>
          Tags: 
        </strong>
        {% if doc.tags %}
          {{ ", ".join(doc.tags).title() }}
        {% else %}
          {{ doc.tags }}
        {% endif %}
        </p>
      <p class="card-text"><strong>Score: </strong>{{ doc.meta.score }}</p>
    </div>
  </div>
{% endmacro %}