{% extends "home.html" %}
{% block record %}
  {% for doc in content['construction quality'] %}
  <div class="card m-2">
    <div class="card-body">
      <h4 class="card-title">
        <a>{{ doc.title }}</a>
      </h4>
      <p class="card-text">{{ doc.abstract }}</p>
      <p class="card-text"><strong>Status: </strong>{{ doc.status }}</p>
      <p class="card-text"><strong>Funding: </strong>{{ doc.funding }}</p>
      <p class="card-text"><strong>Tags: </strong>{{ ",".join(doc.tags).title() }}</p>
      <p class="card-text"><strong>Score: </strong>{{ doc.meta.score }}</p>
    </div>
  </div>
  {% endfor %}
{% endblock record %}