.body-grid-container {
  display: grid;
  grid-template-columns: 5% 20% 70% 5%;
  grid-template-rows: minmax(50px, 10%) 10px 25px repeat(3, minmax(500px, 10%));
  grid-gap: 5px 5px;
  margin: 70px 0px 20px 0px
}

.srm-grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(100px, 10%));
  grid-template-rows: repeat(4, minmax(100px, 10%));
  grid-gap: 5px 5px;
  margin: 10px 10px 10px 10px
}

.record-grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 10%));
  grid-template-rows: repeat(4, minmax(100px, 10%));
  grid-gap: 2px 2px;
  margin: 10px 10px 10px 10px
}

#heading {
  grid-column: 2/4;
  grid-row: 1/2;
  align-self: end;
}

#sidenav {
  margin-right: 20px;
  grid-column: 2/3;
  grid-row: 3/end
}

#collapse {
  grid-column: 3/4;
  grid-row: 3/end
}

#dashboard {
  grid-column: 2/4;
  grid-row: 3/end
}

#toggleCollapse {
  grid-column:3/4; 
  grid-row:1/3; 
  align-self: end; 
  justify-self: end; 
  /* padding:5px */
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}