{% extends "layout.html" %}
{% from "macros.html" import project_record with context %}
{% from "macros.html" import project_record_modal with context %}
{% from "macros.html" import publication_record with context %}
{% from "macros.html" import publication_record_modal with context %}
{% block content %}


<main class="explore-grid-container" style="zoom: 90%">

  <div class="unique-color-dark" style="grid-column: 1/end; grid-row: 1/3"></div>
  <h1 id="heading" class="white-text mb-3">
    {{ heading }}
  </h1>

  <div id="sidenav-explore" class="content-section">
    <h4>Filter Options</h4>
    <p class='text-muted'>
      Select from the following options to filter the results in the matrix.
    </p>
    <form name="filter_form" action="{{ url_for('explore') }}" method="post" class="text-left white border border-light p-3">
      <label for="element">Bridge Elements</label>
      <select name="element" class="browser-default custom-select form-select">
        <option value="" disabled>Choose Option</option>
        <option value="all">All Bridges & Structures</option>
        <option value="superstructure" >All Superstructure</option>
        <option value="untreated_deck">Untreated Bridge Decks</option>
        <option value="treated_deck">Treated Bridge Decks</option>
        <option value="joints">Joints</option>
        <option value="bearings">Bearings</option>
        <option value="coatings">Steel Coatings</option>
        <option value="prestressing">Pre-stressing</option>
      </select>
      <hr>
      <label>Record Type</label>
      <div class="custom-control custom-radio">
        <input value="projects" type="radio" onclick="enableStatus(); setSortOption('project')" class="custom-control-input" id="rt2" name="index"
          checked>
        <label class="custom-control-label" for="rt2">Projects</label>
      </div>
      <div class="custom-control custom-radio">
        <input value="publications" type="radio" onclick="disableStatus(); setSortOption('publication')" class="custom-control-input" id="rt3" name="index">
        <label class="custom-control-label" for="rt3">Publications</label>
      </div>
      <hr>
      <label for="status">Status</label>
      <select id="status" name="status" class="browser-default custom-select form-select">
        <option value="" disabled>Choose Option</option>
        <option value="all" selected>All</option>
        <option value="active">Active</option>
        <option value="complete">Complete</option>
        <option value="programmed">Programmed</option>
        <option value="proposed">Proposed</option>
      </select>
      <hr>
      <label>Date Range</label>
      <!-- <div class="custom-control custom-radio">
        <input value=0 type="radio" class="custom-control-input" id="dr0" name="dateRange">
        <label class="custom-control-label" for="dr0">Future</label>
      </div> -->
      <div class="custom-control custom-radio">
        <input value=1 type="radio" class="custom-control-input" id="dr1" name="dateRange" checked>
        <label class="custom-control-label" for="dr1">1 Year</label>
      </div>
      <div class="custom-control custom-radio">
        <input value=5 type="radio" class="custom-control-input" id="dr2" name="dateRange">
        <label class="custom-control-label" for="dr2">5 Years</label>
      </div>
      <div class="custom-control custom-radio">
        <input value=50 type="radio" class="custom-control-input" id="dr3" name="dateRange">
        <label class="custom-control-label" for="dr3">10+ Years</label>
      </div>
      <hr>
      <!-- <label for="tags">Tags</label>
      <select name="tags" class="browser-default custom-select">
        <option value="" disabled>Choose Option</option>
        <option value="1" selected>All Tags</option>
      </select>
      <hr> -->
      <!-- <label>Records Per Page</label>
      <div class="custom-control custom-radio">
        <input value=5 type="radio" class="custom-control-input" id="rpp1" name="rpp" checked>
        <label class="custom-control-label" for="rpp1">5</label>
      </div>
      <div class="custom-control custom-radio">
        <input value=10 type="radio" class="custom-control-input" id="rpp2" name="rpp">
        <label class="custom-control-label" for="rpp2">10</label>
      </div>
      <hr> -->
      <label for="sortBy">Sort By</label>
      <select name="sortBy" class="browser-default custom-select">
        <option value="" disabled>Choose Option</option>
        <option value="sortBy_score" selected>Relevance</option>
        <option value="sortBy_date">Start Date</option>
      </select>
      <hr>
      <button class="btn btn-info btn-block btn-blue-grey mt-3" type="submit">
        Apply
      </button>
    </form>
  </div>

  <span id="toggleCollapse" class="align-bottom">
    <a onclick="toggleCollapse()">
      <i id="collapse-icon" class="fa fa-plus-circle" aria-hidden="true"></i>
      Expand/Collapse All
    </a>
  </span>


  <div id="collapse" class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- INPUTS COLLAPSE -->
    <div class="card mb-1">
      <div class="card-header white" role="tab" id="headingOne" style="display: inherit">
        <a class="w-50" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 class="mb-0 blue-grey-text">
            Attributes
            <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
        </a>

      </div>
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
        <div class="card-body p-2">
          <ul class="nav nav-tabs nav-justified mb-2" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active black-text" id="construction-tab" data-toggle="tab" href="#construction" role="tab"
                aria-controls="construction" aria-selected="true" style="border-bottom: 1px">
                <h5>
                  Construction Quality ({{ content['construction_quality'].hits.total }})
                </h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="design-tab" data-toggle="tab" href="#design" role="tab" aria-controls="design"
                aria-selected="false" style="border-bottom: 1px">
                <h5>
                  Design & Details ({{ content['design_and_details'].hits.total }})
                </h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="materials-tab" data-toggle="tab" href="#materials" role="tab"
                aria-controls="materials" aria-selected="false" style="border-bottom: 1px">
                <h5>
                  Material Specifications ({{ content['material_specifications'].hits.total }})
                </h5>
              </a>
            </li>
          </ul>
          <div class="tab-content results" id="myTabContent">
            <div class="tab-pane fade show active" id="construction" role="tabpanel" aria-labelledby="construction-tab">
              {% for doc in content['construction_quality'] %}
              {% if doc.doc_type == 'project' %}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="design-tab">
              {% for doc in content['design_and_details'] %}
              {% if doc.doc_type == 'project' %}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="materials" role="tabpanel" aria-labelledby="materials-tab">
              {% for doc in content['material_specifications'] %}
              {% if doc.doc_type == 'project' %}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ATTRIBUTES COLLAPSE -->
    <div class="card mb-1">
      <div class="card-header white" role="tab" id="headingTwo" style="display: inherit">
        <a class="w-50" class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
          aria-controls="collapseTwo">
          <h4 class="mb-0 blue-grey-text =">
            Inputs
            <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
        </a>

      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
        <div class="card-body p-2">
          <ul class="nav nav-tabs nav-justified mb-2" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active black-text" id="liveload-tab" data-toggle="tab" href="#liveload" role="tab"
                aria-controls="liveload" aria-selected="true" style="border-bottom: 1px">
                <h5>Live Load ({{ content['live_load'].hits.total }})</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="environment-tab" data-toggle="tab" href="#environment" role="tab"
                aria-controls="environment" aria-selected="false" style="border-bottom: 1px">
                <h5>Environment ({{ content['environment'].hits.total }})</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="maintenance-tab" data-toggle="tab" href="#maintenance" role="tab"
                aria-controls="maintenance" aria-selected="false" style="border-bottom: 1px">
                <h5>Maintenance & Preservation ({{ content['maintenance_and_preservation'].hits.total }})</h5>
              </a>
            </li>
          </ul>

          <div class="tab-content results" id="myTabContent">
            <div class="tab-pane fade show active" id="liveload" role="tabpanel" aria-labelledby="liveload-tab">
              {% for doc in content['live_load'] %}
              {% if doc.doc_type == 'project' %}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="environment" role="tabpanel" aria-labelledby="environment-tab">
              {% for doc in content['environment'] %}
              {% if doc.doc_type == 'project' %}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="maintenance" role="tabpanel" aria-labelledby="maintenance-tab">
              {% for doc in content['maintenance_and_preservation'] %}
              {% if doc.doc_type == 'project' %}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PERFORMANCE COLLAPSE -->
    <div class="card mb-1">
      <div class="card-header white" role="tab" id="headingThree" style="display: inherit">
        <a class="w-50" class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          <h4 class="mb-0 blue-grey-text">
            Performance
            <i class="fa fa-angle-down rotate-icon"></i>
          </h4>
        </a>

      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
        <div class="card-body p-2">
          <ul class="nav nav-tabs nav-justified mb-2" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active black-text" id="integrity-tab" data-toggle="tab" href="#integrity" role="tab"
                aria-controls="integrity" aria-selected="true" style="border-bottom: 1px">
                <h5>Structural Integrity ({{ content['structural_integrity'].hits.total }})</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="condition-tab" data-toggle="tab" href="#condition" role="tab"
                aria-controls="condition" aria-selected="false" style="border-bottom: 1px">
                <h5>Structural Condition ({{ content['structural_condition'].hits.total }})</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="functionality-tab" data-toggle="tab" href="#functionality" role="tab"
                aria-controls="functionality" aria-selected="false" style="border-bottom: 1px">
                <h5>Functionality ({{ content['functionality'].hits.total }})</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link black-text" id="cost-tab" data-toggle="tab" href="#cost" role="tab" aria-controls="cost"
                aria-selected="false" style="border-bottom: 1px">
                <h5>Cost ({{ content['cost'].hits.total }})</h5>
              </a>
            </li>
          </ul>
          <div class="tab-content results" id="myTabContent">
            <div class="tab-pane fade show active" id="integrity" role="tabpanel" aria-labelledby="integrity-tab">
              {% for doc in content['structural_integrity'] %}
              {% if doc.doc_type == 'project'%}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="condition" role="tabpanel" aria-labelledby="condition-tab">
              {% for doc in content['structural_condition'] %}
              {% if doc.doc_type == 'project'%}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="functionality" role="tabpanel" aria-labelledby="functionality-tab">
              {% for doc in content['functionality'] %}
              {% if doc.doc_type == 'project'%}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="cost" role="tabpanel" aria-labelledby="cost-tab">
              {% for doc in content['cost'] %}
              {% if doc.doc_type == 'project'%}
              {{ project_record(doc) }}
              {% else %}
              {{ publication_record(doc) }}
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="modals">
    <!-- ATTRIBUTES MODALS -->
    {% for doc in content['construction_quality'] %}
    {% if doc.doc_type == 'project' %}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}

    {% for doc in content['design_and_details'] %}
    {% if doc.doc_type == 'project' %}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}

    {% for doc in content['material_specifications'] %}
    {% if doc.doc_type == 'project' %}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}

    <!-- INPUTS MODALS -->
    {% for doc in content['live_load'] %}
    {% if doc.doc_type == 'project' %}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}

    {% for doc in content['environment'] %}
    {% if doc.doc_type == 'project' %}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}

    {% for doc in content['maintenance_and_preservation'] %}
    {% if doc.doc_type == 'project' %}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}

    <!-- PERFORMANCE MODALS -->
    {% for doc in content['structural_integrity'] %}
    {% if doc.doc_type == 'project'%}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}

    {% for doc in content['structural_condition'] %}
    {% if doc.doc_type == 'project' %}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}

    {% for doc in content['functionality'] %}
    {% if doc.doc_type == 'project' %}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}

    {% for doc in content['cost'] %}
    {% if doc.doc_type == 'project' %}
    {{ project_record_modal(doc, formdata) }}
    {% else %}
    {{ publication_record_modal(doc, formdata) }}
    {% endif %}
    {% endfor %}
  </div>


</main>

<script>
  function toggleCollapse() {

    var isCollapsed = (
      document.getElementById("collapse-icon").className == "fa fa-plus-circle"
    )

    if (isCollapsed != true) {

      document.getElementById("collapseOne").className = "collapse";
      document.getElementById("collapseTwo").className = "collapse";
      document.getElementById("collapseThree").className = "collapse";
      document.getElementById("collapse-icon").className = "fa fa-plus-circle";

    } else {

      document.getElementById("collapseOne").className = "collapse show";
      document.getElementById("collapseTwo").className = "collapse show";
      document.getElementById("collapseThree").className = "collapse show";
      document.getElementById("collapse-icon").className = "fa fa-minus-circle";

    }
  }

  // function toggleCollapseButton() {

  //   // check if any collapse element is collapsed
  //   var oneCollapsed = (
  //     document.getElementById("collapseOne").className == "collapse"
  //   )
  //   var twoCollapsed = (
  //     document.getElementById("collapseTwo").className == "collapse"
  //   )
  //   var threeCollapsed = (
  //     document.getElementById("collapseThree").className == "collapse"
  //   )
    
  //   if (oneCollapsed || twoCollapsed || threeCollapsed) {
  //     // if any collapsed
  //     document.getElementById("collapse-icon").className = "fa fa-plus-circle";
  //   } else if !(oneCollapsed || twoCollapsed || threeCollapsed) {
  //     // if any one open
  //     document.getElementById("collapse-icon").className = "fa fa-minus-circle";
  //   }
    
    
  // }

  function disableStatus() {
    document.getElementById("status").disabled = true
  }

  function enableStatus() {
    document.getElementById("status").disabled = false
  }

  function setSortOption(docType) {
    if (docType == 'project') {
      document.getElementsByName("sortBy")[0].options[2].text = "Start Date"
    } else if (docType == 'publication') {
      document.getElementsByName("sortBy")[0].options[2].text = "Publication Date"
    }
  }

  function setButtonState() {

    let element = "{{ buttonStates['element']|safe }}"
    let docType = "{{ buttonStates['doc_type']|safe }}"
    let status = "{{ buttonStates['status']|safe }}"
    let dateRange = "{{ buttonStates['date_range']|safe }}"
    let tags = "{{ buttonStates['tags']|safe }}"
    let sortBy = "{{ buttonStates['sort_by']|safe }}"
    let rpp = "{{ buttonStates['rpp']|safe }}"


    // update 'element' selection
    if (element == 'all') {
      document.getElementsByName('element')[0].options.selectedIndex = 1
    } else if (element == 'superstructure') {
      document.getElementsByName('element')[0].options.selectedIndex = 2
    } else if (element == 'untreated_deck') {
      document.getElementsByName('element')[0].options.selectedIndex = 3
    } else if (element == 'treated_deck') {
      document.getElementsByName('element')[0].options.selectedIndex = 4
    } else if (element == 'joints') {
      document.getElementsByName('element')[0].options.selectedIndex = 5
    } else if (element == 'bearings') {
      document.getElementsByName('element')[0].options.selectedIndex = 6
    } else if (element == 'coatings') {
      document.getElementsByName('element')[0].options.selectedIndex = 7
    } else if (element == 'prestressing') {
      document.getElementsByName('element')[0].options.selectedIndex = 8
    }

    //  update record type selection
    if (docType == 'project') {
      document.getElementById('rt2').checked = true
      setSortOption(docType)
      enableStatus()
    } else {
      document.getElementById('rt3').checked = true
      setSortOption(docType)
      disableStatus()
    }

    // update status selection
    if (status == 'all') {
      document.getElementsByName('status')[0].options.selectedIndex = 1
    } else if (status == 'active') {
      document.getElementsByName('status')[0].options.selectedIndex = 2
    } else if (status == 'complete') {
      document.getElementsByName('status')[0].options.selectedIndex = 3
    } else if (status == 'programmed') {
      document.getElementsByName('status')[0].options.selectedIndex = 4
    } else if (status == 'proposed') {
      document.getElementsByName('status')[0].options.selectedIndex = 5
    }

    // update date range selection
  
    if (dateRange == '1') {
      document.getElementById('dr1').checked = true
    } else if (dateRange == '5') {
      document.getElementById('dr2').checked = true
    } else if (dateRange == '50') {
      document.getElementById('dr3').checked = true
    }

    // update tags selection

    // update rpp selection
    if (rpp == '5') {
      document.getElementById('rpp1').checked = true
    } else if (rpp == '10') {
      document.getElementById('rpp2').checked = true
    }

    // update sort selection
    if (sortBy == 'sortBy_score') {
      document.getElementsByName('sortBy')[0].options.selectedIndex = 1
    } else if (sortBy == 'sortBy_date') {
      document.getElementsByName('sortBy')[0].options.selectedIndex = 2
    }

  }
  setButtonState()

  let page = "{{ page|safe }}"

  if (page == '1') {
    document.getElementById("leftArrow1").className = "page-item disabled mr-1"
    document.getElementById("leftArrow2").className = "page-item disabled mr-1"
    document.getElementById("leftArrow3").className = "page-item disabled mr-1"
  }
</script>


{% endblock content %}