{% extends "layout.html" %}
{% from "macros.html" import project_record with context %}
{% from "macros.html" import project_record_modal with context %}
{% block content %}


<h1 id="heading" class="m-0">
  {{ heading }}
</h1>

<div id="sidenav" class="content-section">
  <h3>Filters & Options</h3>
  <p class='text-muted'>
    Select from the following options to filter the results in the matrix.
    <ul class="list-group">
      <li class="list-group-item">
        Record Set: <br>
        <div class="mt-2">
          <select style="min-width:75%; overflow: hidden;">
            <option value="volvo">All Bridges & Structures</option>
            <option value="volvo">Bridges: All Elements</option>
            <option value="volvo">Treated Decks</option>
            <option value="volvo">Untreated Decks</option>
            <option value="volvo">Joints</option>
            <option value="volvo">Bearings</option>
          </select>
        </div>
      </li>
      <li class="list-group-item">
        Record Type: <br>
        <div class="mt-2">
          <label class="radio-inline mr-2 mb-0"><input type="radio" name="rt-radio" checked>All Records</label>
          <label class="radio-inline mr-2 mb-0"><input type="radio" name="rt-radio">Projects Only</label>
          <label class="radio-inline mr-2 mb-0"><input type="radio" name="rt-radio">Publications Only</label>
        </div>
      </li>
      <li class="list-group-item">
        Date Range: <br>
        <div class="mt-2">
          <label class="radio-inline mb-0 mr-2"><input type="radio" name="dr-radio" checked>1 Year</label>
          <label class="radio-inline mb-0 mr-2"><input type="radio" name="dr-radio">5 Years</label>
          <label class="radio-inline mb-0 mr-2"><input type="radio" name="dr-radio">10 Years</label>
        </div>
      </li>
      <li class="list-group-item">
        Tags: <br>
        <div class="mt-2">
          <select style="min-width:75%">
            <option value="volvo">All Tags</option>
          </select>
        </div>
      </li>
      <li class="list-group-item">
        Record Per Page: <br>
        <div class="mt-2">
          <label class="radio-inline mb-0 mr-2"><input type="radio" name="rpp-radio" checked>5</label>
          <label class="radio-inline mb-0 mr-2"><input type="radio" name="rpp-radio">10</label>
          <label class="radio-inline mb-0 mr-2"><input type="radio" name="rpp-radio">25</label>
        </div>
      </li>
    </ul>
  </p>
  <div class="mt-1 text-left">
    <button type="button" class="btn btn-md btn-blue-grey">Apply</button>
  </div>
</div>

<span class="align-bottom" style="grid-row:1/2; grid-column:2/3; align-self: end; justify-self: end; padding:5px">
  <a onclick="collapseFunc()">
    <i id="collapse-icon" class="fa fa-minus-circle" aria-hidden="true"></i>
    Expand/Collapse All
  </a>
</span>


<div id="collapse" class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- INPUTS COLLAPSE -->
  <div class="card mb-1">
    <div class="card-header" role="tab" id="headingOne">
      <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4 class="mb-0 blue-grey-text">
          Inputs
          <i class="fa fa-angle-down rotate-icon"></i>
        </h4>
      </a>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
      <div class="card-body p-2">
        <ul class="nav nav-tabs nav-justified mb-2" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active black-text" id="construction-tab" data-toggle="tab" href="#construction" role="tab"
              aria-controls="construction" aria-selected="true" style="border-bottom: 1px">
              <h5>
                Construction Quality ({{ content['construction_quality'].hits.total }})
              </h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link black-text" id="design-tab" data-toggle="tab" href="#design" role="tab" aria-controls="design"
              aria-selected="false" style="border-bottom: 1px">
              <h5>Design & Details ({{ content['design_and_details'].hits.total }})</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link black-text" id="materials-tab" data-toggle="tab" href="#materials" role="tab"
              aria-controls="materials" aria-selected="false" style="border-bottom: 1px">
              <h5>Material Specifications ({{ content['material_specifications'].hits.total }}) </h5>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="construction" role="tabpanel" aria-labelledby="construction-tab">
            {% for doc in content['construction_quality'] %}
            {% if doc.doc_type == 'project' %}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="design-tab">
            {% for doc in content['design_and_details'] %}
            {% if doc.doc_type == 'project' %}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="materials" role="tabpanel" aria-labelledby="materials-tab">
            {% for doc in content['material_specifications'] %}
            {% if doc.doc_type == 'project' %}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ATTRIBUTES COLLAPSE -->
  <div class="card mb-1">
    <div class="card-header" role="tab" id="headingTwo">
      <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4 class="mb-0 blue-grey-text">
          Attributes
          <i class="fa fa-angle-down rotate-icon"></i>
        </h4>
      </a>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
      <div class="card-body p-2">
        <ul class="nav nav-tabs nav-justified mb-2" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active black-text" id="liveload-tab" data-toggle="tab" href="#liveload" role="tab"
              aria-controls="liveload" aria-selected="true" style="border-bottom: 1px">
              <h5>Live Load ({{ content['live_load'].hits.total }})</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link black-text" id="environment-tab" data-toggle="tab" href="#environment" role="tab"
              aria-controls="environment" aria-selected="false" style="border-bottom: 1px">
              <h5>Environment ({{ content['environment'].hits.total }})</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link black-text" id="maintenance-tab" data-toggle="tab" href="#maintenance" role="tab"
              aria-controls="maintenance" aria-selected="false" style="border-bottom: 1px">
              <h5>Maintenance & Preservation ({{ content['maintenance_and_preservation'].hits.total }})</h5>
            </a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="liveload" role="tabpanel" aria-labelledby="liveload-tab">
            {% for doc in content['live_load'] %}
            {% if doc.doc_type == 'project' %}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="environment" role="tabpanel" aria-labelledby="environment-tab">
            {% for doc in content['environment'] %}
            {% if doc.doc_type == 'project' %}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="maintenance" role="tabpanel" aria-labelledby="maintenance-tab">
            {% for doc in content['maintenance_and_preservation'] %}
            {% if doc.doc_type == 'project' %}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PERFORMANCE COLLAPSE -->
  <div class="card mb-1">
    <div class="card-header" role="tab" id="headingThree">
      <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h4 class="mb-0 blue-grey-text">
          Performance
          <i class="fa fa-angle-down rotate-icon"></i>
        </h4>
      </a>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
      <div class="card-body p-2">
        <ul class="nav nav-tabs nav-justified mb-2" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active black-text" id="integrity-tab" data-toggle="tab" href="#integrity" role="tab"
              aria-controls="integrity" aria-selected="true" style="border-bottom: 1px">
              <h5>Structural Integrity ({{ content['structural_integrity'].hits.total }})</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link black-text" id="condition-tab" data-toggle="tab" href="#condition" role="tab"
              aria-controls="condition" aria-selected="false" style="border-bottom: 1px">
              <h5>Structural Condition ({{ content['structural_condition'].hits.total }})</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link black-text" id="functionality-tab" data-toggle="tab" href="#functionality" role="tab"
              aria-controls="functionality" aria-selected="false" style="border-bottom: 1px">
              <h5>Functionality ({{ content['functionality'].hits.total }})</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link black-text" id="cost-tab" data-toggle="tab" href="#cost" role="tab" aria-controls="cost"
              aria-selected="false" style="border-bottom: 1px">
              <h5>Cost ({{ content['cost'].hits.total }})</h5>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="integrity" role="tabpanel" aria-labelledby="integrity-tab">
            {% for doc in content['structural_integrity'] %}
            {% if doc.doc_type == 'project'%}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="condition" role="tabpanel" aria-labelledby="condition-tab">
            {% for doc in content['structural_condition'] %}
            {% if doc.doc_type == 'project'%}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="functionality" role="tabpanel" aria-labelledby="functionality-tab">
            {% for doc in content['functionality'] %}
            {% if doc.doc_type == 'project'%}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
          <div class="tab-pane fade" id="cost" role="tabpanel" aria-labelledby="cost-tab">
            {% for doc in content['cost'] %}
            {% if doc.doc_type == 'project'%}
            {{ project_record(doc) }}
            {{ project_record_modal(doc) }}
            {% else %}
            {{ publication_record(doc) }}
            {{ publication_record_modal(doc) }}
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<script>
  function collapseFunc() {

    var isCollapsed = (
      document.getElementById("collapse-icon").className == "fa fa-plus-circle"
    )

    if (isCollapsed != true) {

      document.getElementById("collapseOne").className = "collapse";
      document.getElementById("collapseTwo").className = "collapse";
      document.getElementById("collapseThree").className = "collapse";
      document.getElementById("collapse-icon").className = "fa fa-plus-circle";

    } else {

      document.getElementById("collapseOne").className = "collapse show";
      document.getElementById("collapseTwo").className = "collapse show";
      document.getElementById("collapseThree").className = "collapse show";
      document.getElementById("collapse-icon").className = "fa fa-minus-circle";

    }
  }
</script>


{% endblock content %}