.dash-grid-container {
  display: grid;
  grid-template-columns: repeat(10, minmax(250px, 10%));
  grid-template-rows: repeat(10, minmax(250px, 10%));
  grid-gap: 5px 5px;
}

#project-count-map {
  grid-column: 1/end;
  grid-row: 3/3;
}

